ion-content {
  @media screen and (max-width: 767px) {
    // Mobile
    --padding-top: 45%;
    --padding-start: 5%;
    --padding-end: 5%;
  }

  @media screen and (min-width: 767px) {
    // Desktop
    --padding-top: 10%;
    --padding-start: 20%;
    --padding-end: 20%;
  }

}

.login-msg {
  text-align: center;
  margin-bottom: 20px;
}

ion-grid {

}


