<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- User is logged -->
  <div *ngIf="isLoggedIn()" class="profile">
    <div>

      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img
                alt="pfp"
                src="https://imgs.search.brave.com/z-3_VMVbo5k1c4nYN-MGQSo7jUle-HYqNAS5ED1Soag/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kMnFw/MHNpb3RsYTc0Ni5j/bG91ZGZyb250Lm5l/dC9pbWcvdXNlLWNh/c2VzL3Byb2ZpbGUt/cGljdHVyZS90ZW1w/bGF0ZV8wLmpwZw">
              </ion-img>
            </ion-col>
            <ion-col>2</ion-col>
            <ion-col>3</ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-button
        (click)="signOut()"
      >
        Cerrar sesión
      </ion-button>
    </div>
  </div>

  <!-- User is not logged in -->
  <div *ngIf="!isLoggedIn()">
    <ion-card>
      <ion-card-content>
        <div class="login-msg">
          <h1>Inicia sesión para continuar</h1>
        </div>
        <ion-button
          type="button"
          expand="block"
          color="primary"
          fill="outline"
          routerLink="/login"
        >
          Iniciar sesión
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>
