<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>


    <ion-tab-button id="qr-tab" tab="activities" href="/tabs/activities">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>Actividades</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
