<!-- not-found.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="assets/imagenes/e404-error.svg" alt="Not Found Image" class="not-found-image">
  <p>¡Oh no! Parece que te has perdido en la galaxia.</p>
  <p>La página que estás buscando no se ha encontrado.</p>
  <ion-button (click)="goBack()" color="warning" expand="full" class="ion-margin-top">
    Volver
  </ion-button>
</ion-content>

