/* not-found.component.scss */

ion-content {
  --background: #f8f8f8;
}

.not-found-image {
  width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-bottom: 20px;
}

ion-button {
  --background: #3880ff;
}
