<div *ngIf="!isLoggedIn()">
<ion-card>
  <ion-card-content>
    <div class="login-msg">
      <h1>Inicia sesión para continuar</h1>
    </div>
    <ion-button
      type="button"
      expand="block"
      color="primary"
      fill="outline"
      routerLink="/login"
    >
      Iniciar sesión
    </ion-button>
  </ion-card-content>
</ion-card>
</div>

<div *ngIf="isLoggedIn()">
  <ion-card>
    <ion-card-content>
      <div class="login-msg">
        <!-- TODO: display username  -->
        <h1>Welcome user</h1>
      </div>
      <ion-button
        type="button"
        expand="block"
        color="primary"
        fill="outline"
        routerLink="/tabs/profile"
      >
        Go to profile
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
